.mainContainer{
  background: rgb(255, 254, 254);
  height: 100svh;
  width: 100%;
  display: grid;
  place-items: center;
}
.success{
  width: 39%;
  height: 40svh;
  color:white;
  display: grid;
  place-items: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}
.success> h1{

  color: rgb(218, 215, 215);
  text-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px ;
}